{{ define "content" }}
    <header class="container">
        <h1>You are: <span>over spending</span></h1>
        <p>Earned this much vs spent that much</p>
    </header>
    <main class="container">
        <div role="group">
            <article>
                <header>Earned</header>
                Foo of bar expected
            </article>
            <article>
                <header>Fixed costs</header>
                Foo of bar expected
            </article>
            <article>
                <header>Flex costs</header>
                Foo of bar expected
            </article>
        </div>
    </main>
{{ end }}
